#main {
    display: flex;
    justify-content: center;
}

#titre {
    display: flex;
    padding-top: 5%;
    padding-bottom: 5%;
}

#divTriEtRecherche {
    display: flex;
    justify-content: space-between;
}

#divRecherche {
    display: flex;
    align-items: end;
}
