* {
    margin: 0;
    padding: 0;
}

.login-ctn {
    width: fit-content;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.login-form div {
    margin-top: 2em; 
}