* {
    margin: 0;
    padding: 0;
}

.body-header {
    background: #aaa;
    height: 10vh;
    width: 100vw;
}

.main-header {
    margin: 2em 5em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    gap: 8em;
    align-items: center;
}

.main-header h1 {
    font-weight: 500;
    font-size: 2.25em;
}

.main-header .add-icon-ctn {
    width: 3em;
    cursor: pointer;
}

.main-header .add-icon-ctn img {
    width: 100%;
}

.array-ctn {
    width: 100vw;
    padding: 2em 5em;
    font-family: Arial, Helvetica, sans-serif;
}

.array-ctn table {
    border: 1px solid black;
    border-collapse: collapse;
}

.array-ctn table tr {
    border: 1px solid black;
}

.array-ctn table tr th {
    border: 1px solid black;
    padding: 1em;
    text-align: start;
    letter-spacing: 1px;
    background: #ddd;
    text-align: center;
}

.array-ctn table tr td {
    border: 1px solid black;
    padding: 1em;
}

.array-ctn table .description {
    min-width: 30em;
}

.delete-btn {
    padding: 0.75em 1em;
    background: #E10000;
    color: #fff;
    border-radius: 0.25em;
}