<html>
    <header>
        <link href="style.css" rel="stylesheet">
    </header>

    <body class="grid">
        <div class="navbar">
            <div class="navbar-header">
                <div class="test">
                   <img src="./images/utilisateur.png">
                    <h1>Administrateur</h1> 
                </div>
                
            </div>

            <nav class="liste">
                <h2>Navigation</h2>
                <ol>
                  <li><a href="#">Accueil</a></li>
                  <li><a href="#">À propos</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Blog</a></li>
                </ol>
              </nav>
        </div>


        <div class="body-area">
                <header class="header_top">
                    <p>Tableau de bord</p>
                </header>
                <footer class="footer_top">
                    <p>© BTS Service</p>
                </footer>

        </div>

        
    </body>

</html>

